{
  "title": "Zig Gallery",
  "port": 8087,
  "pug": "gallery5",
  "imageFolder": "/srv/http/img",
  "date_subfolder":false,
  "imageExtensions": [".jpg", ".jpeg", ".png", ".webp", ".gif"],
  "max_thumb_size": 175
}
